/* .App {
  text-align: center;
  background: rgb(5, 233, 236);
  background: linear-gradient(
    90deg,
    rgba(5, 233, 236, 1) 0%,
    rgba(81, 215, 203, 1) 7%,
    rgba(0, 212, 255, 1) 100%
  );
}
.comment-sec {
  border: 2px solid black;
  margin: auto;
  padding: 5px;
}
.header {
  background-color: cornflowerblue;
  margin: 0px;
  padding: 0px;
}
.header h1 {
  margin: 0px;
}
.article-summary {
  border: 2px solid blue;
  padding: 10px;
  margin: 0px 100px 20px 100px;
  width: 80%;
  float: none;
  background-color: white;
  box-shadow: 10px 10px cornflowerblue;
}
.articles-list {
  padding: 0px;
  margin: 0%;
}
.topic-filter {
  padding: 5px;
  margin: 10px;
}
.article-info {
  border: 2px solid black;
  padding: 20px;
  width: 80%;
  height: 1000px;
  margin: 20px;
  background-color: white;
  box-shadow: 10px 10px cornflowerblue;
}
.comment-sec {
  border: 2px solid pink;
  width: 80%;
  margin: 20px;
  background-color: white;
}
.comment {
  border: 2px solid black;
  width: 80%;
  margin: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 10px cornflowerblue;
}
button {
  margin: 10px;
}
span {
  margin: 10px;
}
.comments-link {
  text-decoration-line: none;
  color: black;
}
/* #bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
} */
/* .home {
  min-width: 100%;
  height: 1000px;
}

.nav-links {
  text-decoration: none;
  padding: 20px;
  margin: 2px;
  color: black;
} */

/* .article-card {

} */
