.App {
  text-align: center;
}
.comment-sec {
  border: 2px solid black;
  margin: auto;
  padding: 5px;
}
.header {
  background-color: rgb(0, 110, 255);
  margin: 0px;
  padding: 0px;
}
.header h1 {
  margin: 0px;
}
.article-summary {
  border: 2px solid blue;
  padding: 10px;
  margin: 0px 100px 10px 100px;
  width: 80%;
  float: none;
}
.articles-list {
  padding: 0px;
  margin: 0%;
}
.topic-filter {
  padding: 5px;
  margin: 10px;
}
.article-info {
  border: 2px solid black;
  padding: 20px;
  width: 80%;
  margin: 20px;
}
.comment-sec {
  border: 2px solid pink;
  width: 80%;
}
.comment {
  border: 2px solid black;
  width: 80%;
  margin: 20px;
  padding: 10px;
}
button {
  margin: 10px;
}
span {
  margin: 10px;
}
